[Unit] 
Description=Resume .NET Core application on Ubuntu 

[Service] 
WorkingDirectory=/var/www/resumeapp
ExecStart=/usr/bin/dotnet /var/www/resumeapp/Resume.dll 
Restart=always 
RestartSec=10 # Restart service after 10 seconds if dotnet service crashes 
SyslogIdentifier=resume-web-app
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install] 
WantedBy=multi-user.target